[Unit]
Description=First boot configuration script
After=boot-complete.target

[Service]
Type=oneshoot
ExecStart=/usr/share/firstboot/firstboot.sh
StandardInput=tty
TTYPath=/dev/ttyS2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
